@charset "UTF-8";
* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
  cursor: pointer;
}
mark {
  background: none;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}
@font-face {
  font-family: "Albert Sans";
  src: url("../../fonts/AlbertSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Albert Sans";
  src: url("../../fonts/AlbertSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Everett";
  src: url("../../fonts/Everett-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Everett";
  src: url("../../fonts/Everett-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Everett";
  src: url("../../fonts/Everett-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* 636px */
/*  840px */
/* 1282px */
/* 1330px */
/* 1494px */
/* 1530px */
/* 1600px */
/* 1632px */
/* Display */
/* Display 1 */
/* H1 */
/* H2 */
/* H3 */
/* H4 */
/* H5 */
/* H6 */
/* H7 */
.eff-init_trans * {
  transition: none !important;
}
html {
  font-size: 62.5%;
}
html.over-hidden {
  overflow: hidden;
}
html body {
  font: 10px "";
}
html main {
  position: relative;
}
p {
  margin-bottom: 2.6rem;
}
p:last-child {
  margin-bottom: 0;
}
[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}
[class^="mdl-"] {
  padding: 6.4rem 4rem;
}
@media (max-width: 1194px) {
  [class^="mdl-"] {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}
@media (max-width: 767px) {
  [class^="mdl-"] {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.eff-init_trans * {
  transition: none !important;
}
.js-seeMore .js-seeMore--content {
  overflow: hidden;
}
.js-seeMore .js-seeMore--trigger {
  cursor: pointer;
  text-decoration: underline;
}
.js-seeMore .js-seeMore--trigger .js-seeMore--less {
  display: none;
}
.js-seeMore .js-seeMore--trigger.v-open .js-seeMore--more {
  display: none;
}
.js-seeMore .js-seeMore--trigger.v-open .js-seeMore--less {
  display: inline;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mdl-benefits {
  background-color: #f4f2eb;
  padding: 6rem 2rem;
  position: relative;
}
.mdl-benefits .m-content {
  max-width: 128.2rem;
  margin: 0 auto;
}
.mdl-benefits .m-section-header {
  margin-bottom: 2rem;
  position: sticky;
  top: -3rem;
  z-index: 5;
  text-align: center;
}
@media (min-width: 834px) {
  .mdl-benefits .m-section-header {
    position: relative;
    top: 0;
  }
}
.mdl-benefits .m-section-header .m-overline {
  font-family: "Everett", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: 0.08em;
  color: #2c2927;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
.mdl-benefits .m-section-header .m-title {
  font-family: "Everett", sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: #2c2927;
  max-width: 32rem;
  margin-inline: auto;
}
@media (min-width: 834px) {
  .mdl-benefits .m-section-header .m-title {
    max-width: 100%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1194px) {
  .mdl-benefits .m-section-header .m-title {
    margin-bottom: 8rem;
    inline-size: 24ch;
  }
}
.mdl-benefits .m-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 8rem;
}
@media (min-width: 834px) {
  .mdl-benefits .m-cards-wrapper {
    padding-bottom: 4rem;
    gap: 0;
  }
}
.mdl-benefits .m-card {
  position: sticky;
  top: 8rem;
  z-index: 10;
  background-color: #f4f2eb;
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-radius: 0.8rem 0.8rem 0 0;
}
@media (min-width: 834px) {
  .mdl-benefits .m-card {
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0;
    padding-top: 0;
  }
  .mdl-benefits .m-card:nth-child(even) .m-video {
    order: 1;
  }
}
@media (min-width: 1194px) {
  .mdl-benefits .m-card {
    position: sticky;
    grid-template-columns: 1fr 0.75fr;
    top: 10rem;
    gap: 12rem;
  }
  .mdl-benefits .m-card:nth-child(even) .m-video {
    order: -1;
  }
  .mdl-benefits .m-card .m-pill,
  .mdl-benefits .m-card header,
  .mdl-benefits .m-card .m-description {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20rem);
    transition: all 0.6s ease;
  }
  .mdl-benefits .m-card .m-description p {
    inline-size: 33ch;
  }
  .mdl-benefits .m-card.v-active .m-card-body {
    box-sizing: border-box;
    min-height: 22rem;
    position: relative;
  }
  .mdl-benefits .m-card.v-active .m-pill,
  .mdl-benefits .m-card.v-active header,
  .mdl-benefits .m-card.v-active .m-description {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
.mdl-benefits .m-card .m-video {
  margin-bottom: 2.4rem;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
  aspect-ratio: 353 / 342;
}
@media (min-width: 834px) {
  .mdl-benefits .m-card .m-video {
    aspect-ratio: 371.86 / 464.56;
  }
}
@media (min-width: 1194px) {
  .mdl-benefits .m-card .m-video {
    aspect-ratio: 624.83 / 750;
  }
}
.mdl-benefits .m-card .m-video video,
.mdl-benefits .m-card .m-video .m-video-cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.mdl-benefits .m-card .m-video .m-video-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.6s ease;
}
.mdl-benefits .m-card .m-video .m-video-cover.v-hidden {
  opacity: 0;
  pointer-events: none;
}
.mdl-benefits .m-card .m-video video {
  position: relative;
  z-index: 1;
}
.mdl-benefits .m-card .m-card-body .m-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  padding: 0 1.6rem;
  background-color: #53d3c8;
  border-radius: 3.2rem;
  font-family: "Albert Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  color: #16452d;
  margin-bottom: 1.6rem;
}
.mdl-benefits .m-card .m-card-body header {
  font-family: "Everett", sans-serif;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #16452d;
  margin-bottom: 1.6rem;
}
.mdl-benefits .m-card .m-card-body .m-description p {
  font-family: "Albert Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #16452d;
}
