* {
  color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-decoration: none;
}
address {
  font-style: normal;
}
body {
  font-size: 12px;
}
button {
  background: none;
  cursor: pointer;
}
mark {
  background: none;
}
summary::-webkit-details-marker {
  display: none;
}
input {
  background: none;
  border-radius: 0;
}
button,
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}
textarea {
  font-family: inherit;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}
p {
  width: 100%;
}
img {
  width: auto;
  height: auto;
}

@import "fonts";
@import "funciones";

//Medidas
html {
  font-size: 62.5%;

  &.over-hidden {
    overflow: hidden;
  }

  body {
    font: 10px "";
  }

  main {
    position: relative;
  }
}

//Global

p {
  margin-bottom: 2.6rem;

  &:last-child {
    margin-bottom: 0;
  }
}

[id^="sta"] {
  position: fixed;
  top: 0;
  left: -99px;
}

//Separación entre módulos
[class^="mdl-"] {
  padding: 6.4rem 4rem;

  @media @sLaptopL {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  @media @smMobileL {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.eff-init_trans {
  * {
    transition: none !important;
  }
}

//See more
.js-seeMore {
  .js-seeMore--content {
    overflow: hidden;
  }

  .js-seeMore--trigger {
    cursor: pointer;
    text-decoration: underline;

    .js-seeMore--less {
      display: none;
    }

    //States
    &.v-open {
      .js-seeMore--more {
        display: none;
      }

      .js-seeMore--less {
        display: inline;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
